{{ define "nav" }}
<nav>
    <div>
        <a href="/">Home</a>
        <a href="/snippet/create">Create New Snippet</a>
    </div>

    <div>
        <a href="/user/signup">Signup</a>
        <a href="/user/login">Login</a>
        <form method="POST" action="/user/logout">
            <button>Logout</button>
        </form>
    </div>
</nav>

{{end}}